:root {
  /* dark mode defaults */
  --navbarbg: #11111B;
  --bg: #1E1E2E;
  --area: #6C7086;
  --surface: #232337;
  --focus: #CDD6F4;
  --overlay: #45475a;
  --text: #CDD6F4;
  --text-muted: #A6ADC8;
  --accent: #89B4FA;
  --accent-hover: #F5C2E7;
  --border-hover: #89B4FA;

  --gap-narrow: 1rem;
  --gap-half: 0.5rem;
  --radius: 0.5rem;

  --selected-scale: 1.2;
  --section-min-height: 500px;
}

html[data-theme="light"] {
  --navbarbg: #ffffff;
  --bg:       #f5f5f5;
  --area:     #e0e0e0;
  --surface:  #ffffff;
  --focus:    #1e1e1e;
  --text:     #1e1e1e;
  --text-muted: #555555;
  --accent:   #0077cc;
  --accent-hover: #005fa3;
  --overlay: #e4e4e6;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

main {
  padding: 0.5rem 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

