<nav class="navbar">
    <div class="nav-group">
      <div class="brand">📚 <b>MyMedia</b></div>
      <ul class="nav-links">
        <li><a href="index.html"><span>🏠</span>Home</a></li>
        <li><a href="library.html"><span>📖</span>Library</a></li>
      </ul>
    </div>
    <ul class="nav-links">
      <li><a href="json-testing.html"><span>☀️</span></a></li>
      <li><a href="#" data-modal-open><span>➕ Add Review</span></a></li>
      <li><a href="login.html" onclick="handleLogout()"><span>🚪</span>Log Out</a></li>
    </ul>
</nav>